* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    color: #222;
}

/* HEADER */
.header {
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #222;
}

.logo span {
    color: #ff4f81;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #ff4f81;
}

.section {
    min-height: 550px;
    display: flex;
    align-items: center;
    padding: 80px 8%;
    background: linear-gradient(
        135deg,
        #fff0f4,
        #f3e8ff
    );
}

.section-content {
    max-width: 650px;
}

.subtitle {
    color: #ff4f81;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.section h1 {
    font-size: clamp(40px, 6vw, 70px);
    line-height: 1.05;
    margin-bottom: 25px;
}

.section h1 span {
    color: #ff4f81;
}

.description {
    font-size: 18px;
    line-height: 1.7;
    color: #666;
    margin-bottom: 35px;
}

.btn {
    display: inline-block;
    background-color: #ff4f81;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #e83c6c;
    transform: translateY(-3px);
}

/* PROMACIONES */
.promociones {
    padding: 90px 8%;
    background-color: white;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title p {
    color: #ff4f81;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.section-title h2 {
    font-size: 40px;
}

/* TARJETAS */
.cards {
    max-width: 1200px;
    margin: auto;
    display: grid;/* Cuadrilla */
    grid-template-columns: repeat(3, 1fr);/* Que las 3 sean del mismo tamaño */
    gap: 30px;
}

.card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

.card-image {
    height: 220px;
    position: relative;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.card:hover .card-image img {
    transform: scale(1.05);
}

.discount {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #222;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
}


/* CONTENIDO */
.card-content {
    padding: 25px;
}

.category {
    color: #ff4f81;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 23px;
    margin-bottom: 12px;
}

.card-content p:not(.category) {
    color: #777;
    line-height: 1.6;
    margin-bottom: 20px;
}

.price {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.old-price {
    color: #999;
    text-decoration: line-through;
}

.price strong {
    font-size: 25px;
    color: #ff4f81;
}

.card-btn {
    display: block;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    background-color: #222;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.card-btn:hover {
    background-color: #ff4f81;
}

/* SUSCRIPCION */
.subscription {
    padding: 90px 8%;
    background: linear-gradient(
        135deg,
        #ff4f81,
        #a855f7
    );
    color: white;
    text-align: center;
}

.subscription-content {
    max-width: 700px;
    margin: auto;
}

.subscription .subtitle {
    color: white;
}

.subscription h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.subscription h2 span {
    color: #ffe4ec;
}

.subscription p:not(.subtitle) {
    line-height: 1.7;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 500px;
    margin: auto;
}

form input {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

form button {
    padding: 16px;
    border: none;
    border-radius: 10px;
    background-color: #222;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: white;
    color: #222;
}

.contact { 
    min-height: 300px;
    padding: 80px 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    background: linear-gradient(
        135deg,
        #fff0f4,
        #f3e8ff
    );
}

.contact-info {
    max-width: 550px;
}

.contacto-info h1 { 
    font-size: 50px;
    margin-bottom: 20px;
}

.contacto-info > p:not(.subtitle) {
    color: #666;
    line-height: 1.7;
    margin-bottom: 35px;
}

.data-contact {
    min-height: 200px;
    padding: 80px 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.data-contact h3 {
    margin-bottom: 5px;
}

.data-contact p {
    color: #777;
}

/* FOOTER */
footer {
    padding: 25px;
    text-align: center;
    background-color: #222;
    color: #aaa;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .section h1 {
        font-size: 50px;
    }
}

@media (max-width: 600px) {
    .header {
        padding: 18px 5%;
        flex-direction: column;
        gap: 15px;
    }
    nav {
        gap: 15px;
        font-size: 14px;
    }
    .section {
        min-height: 500px;
        padding: 60px 6%;
    }
    .section h1 {
        font-size: 42px;
    }
    .description {
        font-size: 16px;
    }
    .promociones {
        padding: 70px 6%;
    }
    .section-title h2 {
        font-size: 32px;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    .subscription {
        padding: 70px 6%;
    }
    .subscription h2 {
        font-size: 35px;
    }
}